#root {
    height: 100vh;
}

#layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

img {
    display: flex;
    width: 600px;
    height: auto;
}